/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.07.2020, 09:26:56
    Author     : jannikb
*/

html
{
    font-family: calibri;
    font-size: 25px;
}

body
{
    margin: 0;
}

.battlefield
{
    border: 1px solid black;
    display: flex;
    float: left;
    background-color: white;
}

.snake
{
    position: absolute;
    top: 50px;
    left: 350px;
    /*padding: 2px;*/
    background-image: url(snake-graphics.png);
    background-position: -200px 0;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
}

span > img
{
    height: 50px;
    width: 50px;
}

.infobox
{
    display: block;
    float: left;
    margin-left: 20px;
}

.food
{
    position: absolute;
    top: 400px;
    left: 750px;
}

button
{
    display: block;
    border: 0;
    font-family: inherit;
    background-color: inherit; 
    font-size: inherit;
}